/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import url('eleganticons.css');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */ 
html,
button,
input,
select,
textarea {
	color: #FFF;
	letter-spacing:0;
	font-size:14px;
}

section ul li {
	list-style: none;
}

*:focus {
	outline: none;
}

/* ==========================================================================
	Remove text-shadow in selection highlight: h5bp.com/i
	These selection rule sets have to be separate.
	Customize the background color to match your design.
   ========================================================================== */ 
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* ==========================================================================
	A better looking default horizontal rule
   ========================================================================== */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}


/* ==========================================================================
	Remove the gap between images and the bottom of their containers: h5bp.com/i/440
   ========================================================================== */
img {
	vertical-align: middle;
}


/* ==========================================================================
	Remove default fieldset styles.
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir { 
	text-indent: -100%; 
	overflow: hidden; 
	white-space: nowrap; 
	display: block; 
	font-size: 0; 
	line-height: 0; 
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.table {
	display: table;
}

.tableCell {
	display: table-cell;
	vertical-align: middle;
}

/* ==========================================================================
   Extends the .visuallyhidden class to allow the element to be focusable
   ========================================================================== */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* ==========================================================================
   Hide visually and from screenreaders, but maintain layout
   ========================================================================== */
.invisible {
	visibility: hidden;
}

/* ==========================================================================
   Clearfix: contain floats
   ========================================================================== */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


/* Placeholder */
::-webkit-input-placeholder {
	opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
	opacity: 0.8;  
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.8;  
}

:-ms-input-placeholder {  
   opacity: 0.8;  
}


/* ====================
   FONTES DO PROJETO
   ==================== */
@font-face {
	font-family: 'droid_serifbold';
	src: url('../fonts/droidserif-bold-webfont.eot');
	src: url('../fonts/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/droidserif-bold-webfont.woff') format('woff'),
		 url('../fonts/droidserif-bold-webfont.ttf') format('truetype'),
		 url('../fonts/droidserif-bold-webfont.svg#droid_serifbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'droid_serifbold_italic';
	src: url('../fonts/droidserif-bolditalic-webfont.eot');
	src: url('../fonts/droidserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/droidserif-bolditalic-webfont.woff') format('woff'),
		 url('../fonts/droidserif-bolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/droidserif-bolditalic-webfont.svg#droid_serifbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifitalic';
	src: url('../fonts/droidserif-italic-webfont.eot');
	src: url('../fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/droidserif-italic-webfont.woff') format('woff'),
		 url('../fonts/droidserif-italic-webfont.ttf') format('truetype'),
		 url('../fonts/droidserif-italic-webfont.svg#droid_serifitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifregular';
	src: url('../fonts/droidserif-webfont.eot');
	src: url('../fonts/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/droidserif-webfont.woff') format('woff'),
		 url('../fonts/droidserif-webfont.ttf') format('truetype'),
		 url('../fonts/droidserif-webfont.svg#droid_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldbold';
	src: url('../fonts/oswald-bold-webfont.eot');
	src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald-bold-webfont.woff') format('woff'),
		 url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
		 url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldlight';
	src: url('../fonts/oswald-light-webfont.eot');
	src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald-light-webfont.woff') format('woff'),
		 url('../fonts/oswald-light-webfont.ttf') format('truetype'),
		 url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswaldregular';
	src: url('../fonts/oswald-regular-webfont.eot');
	src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oswald-regular-webfont.woff') format('woff'),
		 url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
		 url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lobster_1.4regular';
	src: url('../fonts/lobster-webfont.eot');
	src: url('../fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lobster-webfont.woff') format('woff'),
		 url('../fonts/lobster-webfont.ttf') format('truetype'),
		 url('../fonts/lobster-webfont.svg#lobster_1.4regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ====================
   ESTRUTURA DO PROJETO
   ==================== */
body {
	background: #FFF;
	color: #2d2929;
	font-family: 'droid_serifregular', arial, sans-serif;
	font-size: 14px;
	line-height: 1em;
	margin: 10px;
}




/* ====================
   GERAL
   ==================== */
.geralTransition {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#wrapper {
	background: #f9f1e2;
}

.container {
	text-align: center;
}

.sessao {
	padding: 120px 0 ;
}

.container,
.sessaoCentro {
	max-width: 1260px;
	margin: 0 auto;
}

.sessaoTitulo {
	display: inline-block;
	margin-bottom: 60px;
}

.sessaoTituloBranco {
	color: #FFF;
}

.sessaoTitulo .tituloMenor,
.sessaoTitulo .tituloMaior {
	display: block;
	font-family: 'oswaldbold', arial, sans-serif;
	font-size: 22px;
	line-height: 1em;
}

.sessaoTitulo .tituloMenor {
	font-family: 'lobster_1.4regular', arial, sans-serif;
	font-size: 18px;
	position: relative;
}

.sessaoTitulo .tituloMenor span {
	float: left;
}

.sessaoTitulo .tituloMenor .titulo {
	margin: 0 10px;
}

.sessaoTitulo .tituloMenor .tituloBg {
	background-image: url('../img/backgrounds/titulo.png');
	background-repeat: repeat-x;
	display: block;
	height: 6px;
	width: 56px;
	margin-top: 7px;
}

.sessaoTitulo .tituloMenor .tituloBgBranco {
	background-image: url('../img/backgrounds/titulo_branco.png');
}

.sessaoTitulo .tituloMaior {
	text-transform: uppercase;
	letter-spacing: 0.17em;
	padding: 10px 5px 0;
}

.sessaoDescricao {
	max-width: 630px;
	margin: 0 auto;
	line-height: 22px;
}

.bt {
	
}

.tituloGeral {
	display: block;
	font-family: 'oswaldbold', arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.16em;
}


/* ====================
   TOPO
   ==================== */
#menu {
	padding-top: 60px;
}

#menuUl {
	display: inline-block;
	height: 82px;
}

#menuUl .menuLi {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	margin-right: 115px;
}

#menuUl .menuLiLast {
	margin-right: 0;
}

#menuUl .menuLiLogo {
	padding: 0;
}

#menuUl .menuLink {
	color: #2d2929;
	font-size: 14px;
	height: 65px;
	line-height: 65px;
	display: block;
}

#menuUl .menuLiLogo .menuLink {
	height: auto;
	line-height: auto;
}

#menuUl .menuLink span {
	background: #2d2929;
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#menuUl .menuLink:hover span {
	height: 4px;
}

#menuUl #logo a {
	width: 151px;
	height: 100px;
	display: block;
	position: relative;
	top: 15px;
}

#banner img {
	display: block;
	width: 100%;
}

#rodape .direitos {
	font-family: 'droid_serifitalic', arial, sans-serif;
	font-size: 12px;
	padding: 60px 0;
}

#rodape .direitos,
#rodape .direitos a {
	color: #2d2929;
}

#rodape .direitos a:hover {
	text-decoration: underline;
}



/* ====================
   MODAL
   ==================== */
.modal {
	display: none;
	width: 600px;
	background: #f9f1e2;
}

.modal .modalTitulo {
	background: #2d2929;
	color: #FFF;
	display: block;
	font-family: 'oswaldbold', arial, sans-serif;
	font-size: 22px;
	letter-spacing: 0.1em;
	line-height: 1em;
	text-transform: uppercase;
	padding: 25px 50px 20px;
	position: relative;
}

#lojasUl {
	padding: 45px 0 45px 50px;
	border-bottom: 1px solid #e0d8cb;
}

#lojasUl li {
	list-style: none;
}

.lojaTitulo {
	display: block;
	font-family: 'droid_serifitalic', arial, sans-serif;
	font-size: 16px;
}

.lojaBloco {
	float: left;
	background: red;
	position: relative;
	padding-left: 40px;
}

#modalLojasVirtuais .lojaBloco {
	float: none;
}


/* ====================
   MEDIA QUERIES
   ==================== */
@media only screen and (max-width: 1100px) {
	#menuUl .menuLi {
		margin-right: 80px;
	}

	#menuUl .menuLiLast {
		margin-right: 0;
	}
}


@media only screen and (max-width: 1023px) {
	#menuUl .menuLi {
		margin-right: 20px;
	}

	#menuUl .menuLiLast {
		margin-right: 0;
	}
}


@media only screen and (max-width: 767px) {
	.sessao {
		padding: 60px 25px;
	}


	/* ====================
	   MODAL
	   ==================== */
	.modal {
		width: 280px;
		padding: 0;
	}
}





/* para o display de alta resolução */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#logo {
		/*background-image: url('../img/logos/logo_2x.png');
		background-size: 151px 100px;*/
	}
}


@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}