.sessaoTitulo .tituloMenor .tituloBg {
	width: 78px;
}

#menuProdutos {
	background: #2d2929;
	padding: 25px 0;
	text-align: center;
	font-size: 0;
}

.menuProdutosLi {
	display: inline-block;
	margin: 0 20px;
}

.menuProdutosLink {
	border: 2px solid #2d2929;
	color: #FFF;
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
}

.menuProdutosLink:hover,
.menuProdutosLink.active {
	border: 2px solid #FFF;
}


/* =========
   PRODUTOS
   ========= */
#listaProdutos {
	text-align: center;
	padding: 45px;
}

.produtosUl {
	display: inline-block;
	max-width: 1164px;
}

.produtosUl .mix {
	opacity: 0;
	display: none;
}

.produtosLi {
	float: left;
	margin: 0 3px 5px;
}

.produtosLink {
	background: #FFF;
	display: block;
	width: 277px;
	height: 356px;
	padding: 4px;
}

.produtosLink .table {
	background: #FFF;
	width: 100%;
	height: 290px;
	position: relative;
}

.produtosLink .verProduto {
	border-bottom: 3px solid #2d2929;
	color: #2d2929;
	font-family: 'oswaldbold', arial, sans-serif;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 86px;
	height: 16px;
	margin: -8px 0 0 -43px;
	text-transform: uppercase;
	z-index: 5;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

.produtosLink .produtosTitulo {
	color: #2d2929;
	display: block;
	font-family: 'droid_serifbold_italic', arial, sans-serif;
	font-size: 14px;
	padding: 25px 15px 0;
	text-align: left;
}

.produtosLink:hover .produtosImg {
	opacity: 0.35;
	-moz-opacity: 0.35;
	filter: alpha(opacity=35);
}

.produtosLink:hover .verProduto {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

#filtroCategoria {
	text-align: left;
	position: relative;
	z-index: 1000;
	display: none;
}

#btSelect {
	background: #2d2929;
	color: #FFF;
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
	position: relative;
}

#btSelect .icone {
	background: url('../img/icones/select.png') no-repeat;
	position: absolute;
	top: 50%;
	right: 30px;
	width: 17px;
	height: 9px;
	margin-top: -4px;
}

.btSelectAberto .icone {
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}

#filtroUl {
	background: #2d2929;
	display: none;
}

#filtroUl .filtroLink {
	border-top: 1px solid #343030;
	color: #FFF;
	display: block;
	padding: 20px 0 20px 30px;
}


@media only screen and (max-width: 1279px) {
	#produtosUl {
		max-width: 873px;
	}

	.menuProdutosLi {
		margin: 0 3px;
	}
}

@media only screen and (max-width: 1023px) {
	#produtosUl {
		max-width: 582px;
	}

	#menuProdutos {
		display: none;
	}

	#filtroCategoria {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	#listaProdutos {
		padding: 40px 20px;
	}

	#produtosUl {
		max-width: 250px;
	}

	.produtosLink {
		width: 236px;
		height: 315px;
	}

	.produtosLink .table {
		height: 260px;
	}
}

